@{
    ViewBag.Title = "MCRS";
}

<h2>Welcome to Management Consolidated Reports System (MCRS)</h2>

<input type="hidden" id="url" data-arcommon="@Url.Content("~/Common")" />
@Scripts.Render("~/Scripts/commonwrapper")
