@{
    ViewBag.Title = "Holding Store";
}

<input type="hidden" id="url"
data-getholdingdashboard="@Url.Action("HoldingStoreDashBoard")"

data-gettariffview="@Url.Action("FetchTariff")"

@*data-getfetchvisit="@Url.Action("FetchPacakgeVisit")"*@

data-save="@Url.Action("Save")"

/>

<div class="panel panel-default">
          <div class="panel-heading">
              <div class="row">
                 <div class="col-xs-3">
                    <h4><b class="navbar-header">Holding Store</b></h4>
                 </div>
                        <div class="form-group">
                       @* <label class="control-label col-sm-1">Type</label>*@
                    
              </div>
           </div>
        </div>
       <div class="panel-body">
                <div class="col-xs-3">
          <table id="gridHoldingList" class="table table-bordered table-hover dataTable no-footer;">
             <thead class="AR_custom_table_header expanded-group">
                <tr>
             
                   <th></th>
                    <th>Holding Store Name</th>
                    <th></th>
                </tr>
             </thead>
          </table>
                       <button id="btnSave" type="button" class="btn btn-sm btn-primary  pull-right AR_custom_btn_fixed_width glyphicon glyphicon-floppy-disk ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal">Save</button>
                    
        </div>

       </div>
 </div>

@section scripts{
<script src="~/Scripts/itadmin/HoldingStore.js"></script>

}