@{
    ViewBag.Title = "Unauthorized";
}
<br />
<div  class="alert alert-danger" role="alert">
    <h1>Login</h1>
    <section>
        <p class="custom_font_description">Sorry, you don't have access to this request. For further assistance please call IT - Helpdesk. Thank You </p>
    </section>
    <br />
    <section>
        <a href="/HISLOGIN" class="btn btn-sm btn-primary">Go to Home Page</a>
    </section>
</div>

