@{
    ViewBag.Title = "Unauthorized";
}

<div class="col-md-12">
    <div class="box box-default">
        <div class="box-body">
            <div class="alert alert-danger">
                <h4><i class="icon fa fa-ban"></i>Unauthorized Access!</h4>
                <p class="custom_font_description">Sorry, you don't have access to this request. For further assistance please call IT - Helpdesk. Thank You </p>
            </div>
        </div>
        <div class="box-footer">
            <a href="/HISLOGIN" class="btn btn-sm btn-primary">Go to Home Page</a>
        </div>
    </div>
</div>