@{
    ViewBag.Title = "AR Reports";
}
@Styles.Render("~/Styles/arcustom")

<div class="row">
    <br />
    <div class="col-sm-12">
        <a class="mc_rep_continer" href="@Url.Content("ActAdjReports")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Actual and Adjusted Bills
            </section>
        </a>
    </div>
</div>
