@{
    FormsIdentity id = (FormsIdentity)User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var d = ticket.UserData.Split('|');
    
    
}
<button class="btn btn-primary" id="test">COOKIE</button>
 <h1><b>@Session["HIS_SESSION_NAME"]</b>
     </h1>
<script>
    $(document).ready(function () {
        $("#test").click(function () {
            alert("@d[2].ToString()" + "new");
        });
    });

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return "";
    }
    function checkCookie() {
        if (getCookie('CMdateFrom') != '') {
            $('#txtDateFrom').val(getCookie('CMdateFrom'));
        }

        if (getCookie('CMdateTo') != '') {
            $('#txtDateTo').val(getCookie('CMdateTo'));
        }
    }
</script>