
@{
    ViewBag.Title = "Index";
}

<input type="hidden" id="url"
data-getcanceldashboard="@Url.Action("PharmacyCancelDashBoard")"

data-getviewfetchpharmacy="@Url.Action("FetchPharmacyView")"

data-selectstations="@Url.Action("Select2Stations")"

data-save="@Url.Action("Save")"

/>

<div class="panel panel-default">
       <div class="panel-heading">
              <div class="row">
                 <div class="col-xs-3">
                    <h4><b class="navbar-header">Pharmacy Cancel Days SetUp</b></h4>
                 </div>
                        <div class="form-group">
                       @* <label class="control-label col-sm-1">Type</label>*@
                    
              </div>
           </div>
        </div>
       <div class="panel-body">
          <div class="col-xs-5">
          <table id="gridItemList" class="table table-bordered table-hover dataTable no-footer;">
             <thead class="AR_custom_table_header expanded-group">
                <tr>
                  @* <th style="text-align:center">SNo</th>*@
                    <th>Station</th>
                    <th>Days</th>
                    <th></th>
                </tr>
             </thead>
          </table>
                    <button id="btnNew" type="button" class="btn btn-sm btn-primary pull-right AR_custom_btn_fixed_width glyphicon glyphicon-folder-open ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal"> New</button>
        </div>
     </div>
</div>
<div class="modal" id="modalEntry" tabindex="-1" style="overflow-y: auto;" role="dialog" aria-labelledby="myModalLabel">
   <input id="txtStationId" name="" type="hidden" class="form-control">
    <input id="txtTypeId" name="" type="hidden" class="form-control">
  
   <div class="modal-dialog modal-lg" style=" " role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="opbmyModalLabel">Pharmacy Cancel Days</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-xs-12">
                  <form role="form" class="form-horizontal AR_custom_label_left_align">
               @*           <div class="form-group">
                                <label class="control-label col-sm-3">Station:</label>
                             <div class="col-sm-8">
                               <input type="text" class="sel" id="Select2Stations"/>
                            </div>
                
                         </div>
                         <div class="form-group">
                                <label class="control-label col-sm-3">Bill Type:</label>
                             <div class="col-sm-8">
                               <input type="text" class="sel" id="Select2BillType"/>
                            </div>
                
                         </div>*@
                        <div class="form-group">
                              <label class="control-label col-sm-3">Station:</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="txtStation"/>
                            </div>
                          </div>
                       <div class="form-group">
                              <label class="control-label col-sm-3">No of Days:</label>
                             <div class="col-sm-3">
                               <input type="number" class="form-control" id="txtNoOfdDays"/>
                            </div>
                          </div>
                
                     @* 
                     <div id="endos"></div>
                     *@
                  </form>
               </div>
            </div>
            <div class="modal-footer">
               @*<button id="btnModify" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-pencil ShowOnEdit HideOnAdd" data-dismiss="modal">Modify</button>*@
               <button id="btnSave" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-floppy-disk ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal"> Save</button>
               @*   <button id="btnReportGen" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-th-list ShowOnEdit HideOnAdd" data-dismiss="modal">Preview</button>*@
               <button type="button" class="btn btn-sm btn-default AR_custom_btn_fixed_width" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>
@section scripts{
<script src="~/Scripts/itadmin/PharmacyCancelSetUp.js"></script>

}

