<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery1" version="1.11.3" targetFramework="net40" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net40" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net40" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net40" />
  <package id="ReportViewerForMvc" version="1.0.1" targetFramework="net40" />
</packages>