@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Styles/arcustom")

<div class="row">
    <br />
    <div class="col-sm-12">
        <a class="mc_rep_continer" href="@Url.Action("EquipmentBreakdownReport")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Equipment Breakdown Report 
            </section>
        </a>

         
           
    </div>
</div>
