@{
    ViewBag.Title = "IP Investigation";
    
}



<div id="headerMain" class="col-xs-12 standardborder">
    <div class="pull-left">
        <span class="glyphicon glyphicon-check" style="font-size:25px;color:Green; margin:2px 0 0 5px;"></span>        
        <label class="control-label" style="font-size:18px; color:Green; margin:2px 0 0 5px;">IP INVESTIGATION</label>
    </div>
    <div class="pull-right" style="margin-top:3px;">
        <a id="btnNewEntry" class="btn btn-sm btn-success button-width" data-target="#modalEntry">
            <span class="glyphicon glyphicon-file"></span> New
        </a>
        <a id="btnView" class="btn btn-sm btn-success button-width" data-target="#modalEntry">
            <span class="glyphicon glyphicon-file"></span> View
        </a>
        <a id="btnSample" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-th-list"></span> Sample Collection & Result
        </a>
        <a id="btnRefresh" class="btn btn-sm btn-success button-width">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </div>
</div>
<div id="DashBoard" class="col-xs-12 form-horizontal standardborder">
    <input id="Action" name="" type="hidden" class="form-control">
    <input id="Id" name="" type="hidden" class="form-control">
    <div class="row">
        <div id="grid" class="col-xs-12" style="visibility:hidden;">
            <table id="gridList" class="Hide Show table table-nomargin table-condensed fahad" style="cursor: pointer; width:100%!important;">
                <thead class="cAR-tlist-header">
                    <tr>
                        <th>ID</th>
                        <th>W</th>
                        <th>RequistionNo</th>
                        <th>PatientName</th>
                        <th>PIN</th>
                        <th>BedNo</th>
                        <th>OrderDate</th>
                        <th>NurseName</th>
                        <th>Executed</th>
                        <th>Stat</th>
                        <th>Priority</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label class="control-label border" style="background-color:#f98181;text-align:center; width:100%;">
                Stat Requisitions   
            </label>
            @*red*@
        </div>
        <div class="col-xs-2">
            <label class="control-label border" style="background-color:#fcc9c9;text-align:center; width:100%;">
                Test not done
            </label>
            @*light red*@
        </div>
        <div class="col-xs-2">
            <label class="control-label border" style="background-color:#ffffe5;text-align:center; width:100%;">
                Some test are done
            </label>
            @*yellow*@
        </div>
        <div class="col-xs-2">
            <label class="control-label border" style="background-color:#b7f5ff;text-align:center; width:100%;">
                All test are done
            </label>
            @*light blude*@
        </div>

    </div>
</div>

<div class="modal modalLarge" id="modalEntry" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row">
                    <div class="col-xs-1" style="width:10px;">                        
                        <span class="glyphicon glyphicon-check" style="font-size:25px;color:Green;"></span>
                    </div>
                    <div class="col-xs-5">                        
                        <h4 class="modal-title" id="myModalLabel" style="color:Green;">IP INVESTIGATION</h4>
                    </div>
                    <div class="col-xs-6 pull-right">

                        <a id="btnClose" class="button-width btn btn-sm btn-danger pull-right pull-right-margin ShowOnAdd ShowOnView ShowOnEdit">
                            <span class="glyphicon glyphicon-remove"></span> Close
                        </a>
                        <a id="btnClear" class="button-width btn btn-sm btn-success pull-right pull-right-margin ShowOnAdd ShowOnView ShowOnEdit">
                            <span class="glyphicon glyphicon-stop"></span> Clear
                        </a>
                        <a id="btnDelete" class="btn btn-sm btn-success pull-right pull-right-margin HideOnAdd ShowOnView HideOnEdit">
                            <span class="glyphicon glyphicon-trash"></span> Cancel Order
                        </a>
                        <a id="btnEdit" class="button-width btn btn-sm btn-success pull-right pull-right-margin HideOnAdd ShowOnView HideOnEdit">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <a id="btnPrint" class="button-width btn btn-sm btn-success pull-right pull-right-margin HideOnAdd ShowOnView ShowOnEdit NotUse">
                            <span class="glyphicon glyphicon-print"></span> Print
                        </a>
                        <a id="btnSave" class="button-width btn btn-sm btn-success pull-right pull-right-margin ShowOnAdd HideOnView ShowOnEdit">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </a>
                        <a id="btnNew" class="button-width btn btn-sm btn-success pull-right pull-right-margin HideOnAdd ShowOnView HideOnEdit">
                            <span class="glyphicon glyphicon-file"></span> New
                        </a>

                    </div>
                </div>                

            </div>
            <div class="modal-body form-horizontal">
                
                <div class="border">

                    <div class="panel-body"> 
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="border">                                    
                                    <div class="panel-body border-below">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">OrderNo</label>
                                            </div>                                        
                                            <div class="col-xs-9">
                                                <input id="txtOrderNo" name="" type="text" class="form-control">
                                            </div>                                        
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label required">PIN</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="select2PIN" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label required">Name</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="select2Name" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label required    ">Bed No</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="select2BedNo" name="" type="text" class="form-control">
                                            </div>                        
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Doctor</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="select2Doctor"  name="" class="form-control">
                                                <input id="txtDoctor"  name="" type="hidden" class="form-control">
                                            </div>
@*                                            <div class="col-xs-2">
                                                <input id="txtDoctorId" name="" type="text" class="form-control">
                                            </div>*@
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Drug Allergies</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtDrugAllergies" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Age</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtAge" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Gender</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtGender" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Blood Group</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtBloodGroup" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Nurse</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtOperator" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Ward</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtWard" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">DateTime</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="txtDateTime" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="border">
                                    <div class="panel-body border-below">

                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label class="control-label">Collect Sample at Phlebotomy</label>
                                            </div>
                                            <div class="col-xs-1">
                                                <input id="iChkPhlebotomy" type="checkbox" value="false"/>
                                            </div>
                                            <div class="col-xs-6">
                                                <div id="dtCollectSample" class="input-group date">
                                                    <input data-date-format="DD-MMM-YYYY HH:mm" type='text' class="form-control DisableOnView"/>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label class="control-label">Status</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="select2Status" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label class="control-label">Priority</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="select2Priority" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label class="control-label">To Be Done At</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="select2ToBeDoneAt" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label class="control-label">Remarks</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <textarea id="txtRemarks" class="form-control DisableOnView" rows="3" cols="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label">Selected Test</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input id="select2SelectedTest" name="" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>                                            

                                </div>
                            </div>                            
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@*<div class="modal modalLarge" id="modalSample" role="dialog" aria-labelledby="basicModal" aria-hidden="true">*@
<div class="modal modalLarge" id="modalSample" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row">
                    <div class="col-xs-1" style="width:10px;">                        
                        <span class="glyphicon glyphicon-check" style="font-size:25px;color:Green;"></span>
                    </div>
                    <div class="col-xs-5">                        
                        <h4 class="modal-title" id="myModalLabel" style="color:Green;">SAMPLE COLLECTION / RESULT DISPLAY</h4>
                    </div>
                    <div class="col-xs-6 pull-right">

                        <a id="btnCloseSample" class="btn btn-sm btn-danger pull-right pull-right-margin ShowOnAdd ShowOnView ShowOnEdit">
                            <span class="glyphicon glyphicon-remove"></span> Close
                        </a>
@*                        <a id="btnCollect" class="btn btn-sm btn-success pull-right pull-right-margin ShowOnAdd ShowOnView ShowOnEdit">
                            <span class="glyphicon glyphicon-check"></span> Collect All Checked
                        </a>*@

                    </div>
                </div>                

            </div>
            <div class="modal-body form-horizontal">
                <div class="border">
                    <div class="panel-body border-below">
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="control-label">Order No.</label>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label">PIN</label>
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label">Name</label>
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label">BedNo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <input id="txtSOrderNo" name="" type="text" class="form-control">
                            </div>
                            <div class="col-xs-3">
                                <input id="txtSPIN" name="" type="text" class="form-control">
                            </div>
                            <div class="col-xs-4">
                                <input id="txtSName" name="" type="text" class="form-control">
                            </div>
                            <div class="col-xs-2">
                                <input id="txtSBedNo" name="" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="grid" class="col-xs-12">
                                <table id="gridSampleCollection" class="Hide Show table table-nomargin table-condensed fahad" style="cursor: pointer; width:1200px !important;">
                                    <thead class="cAR-tlist-header">
                                        <tr>
                                            <th>Profile</th>
                                            <th>S.No</th>
                                            <th>Section</th>
                                            @*<th><input type="checkbox" id="chkCollectAll"/> Collect</th>*@
                                            <th>Collect</th>
                                            <th>Collect</th>
                                            <th>TestName</th>
                                            <th>Sample</th>
                                            <th>Remarks</th>
                                            <th>OrderID</th>
                                            <th>SampleID</th>
                                            <th>TestIChk</th>
                                            <th>Stat</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="control-label border" style="background-color:#e2ffef;text-align:center; width:100%;">
                                    Results Confirmed
                                </label>
                                @*light green*@
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label border" style="background-color:#ffffe5;text-align:center; width:100%;">
                                    Test Done
                                </label>
                                @*light yellow*@
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label border" style="background-color:#fcc9c9;text-align:center; width:100%;">
                                    Test not done
                                </label>
                                @* light red*@
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label border" style="background-color:#fff;text-align:center; width:100%;">
                                    Sample not collected
                                </label>
                                @*red*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@section scripts {
    <script defer src="@Url.Content("~/Scripts/OT/IPInvestigation.js")" type="text/javascript"></script>
}
