@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BloodBank/Views/Shared/_Layout.cshtml";
}
 
<input id="Action" name="" type="hidden" class="form-control">
<input id="Id" name="" type="hidden" class="form-control">
<input id="registrationno" name="" type="hidden" class="form-control">
<div id="dtToday" class="hide input-group date">
    <input data-date-format="DD-MMM-YYYY" type="text" class="form-control DisableOnView">
        <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span>
    </span>
</div>

<div id="headerMain" class="col-xs-12 standardborder">
    <div class="pull-left">
        <span class="glyphicon glyphicon-time" style="font-size:25px;color:Green; margin:2px 0 0 5px;"></span>
        <label class="control-label" style="font-size:18px; color:Green; margin:2px 0 0 5px;">OUTSIDE BLOOD COLLECTION</label>
    </div>

    <div id="ButtonsOnBoard" class="pull-right HideOnView HideOnAdd HideOnEdit HideOnDelete" style="margin-top:3px; display:none;">
        <a id="btnNewEntry" class="btn btn-sm btn-success button-width" data-target="#modalEntry">
            <span class="glyphicon glyphicon-file"></span> New
        </a>
        <a id="btnView" class="btn btn-sm btn-success button-width" data-target="#modalEntry">
            <span class="glyphicon glyphicon-file"></span> View
        </a>
        <a id="btnFilter" class="btn btn-sm btn-success button-width">
            <span class="glyphicon glyphicon-filter"></span> Filter
        </a>
        <a id="btnRefresh" class="btn btn-sm btn-success button-width">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </div>
    <div id="ButtonsOnEntry" class="pull-right ShowOnView ShowOnAdd ShowOnEdit" style="margin-top:3px;display:none;">

        <a id="btnNew" class="btn btn-sm btn-success  button-width HideOnAdd ShowOnView HideOnEdit HideOnDelete">
            <span class="glyphicon glyphicon-file"></span> New
        </a>
        <a id="btnSave" class="btn btn-sm btn-success  button-width ShowOnAdd HideOnView ShowOnEdit HideOnDelete">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
        </a>
        <a id="btnPrint" class="btn btn-sm btn-success  button-width HideOnAdd ShowOnView ShowOnEdit NotUse">
            <span class="glyphicon glyphicon-print"></span> Print
        </a>
        <a id="btnEdit" class="btn btn-sm btn-success  button-width HideOnAdd ShowOnView HideOnEdit HideOnDelete NotUse">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <a id="btnDelete" class="btn btn-sm btn-success HideOnAdd ShowOnView HideOnEdit HideOnDelete NotUse">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
        <a id="btnClear" class="btn btn-sm btn-success button-width ShowOnAdd ShowOnView ShowOnEdit HideOnDelete">
            <span class="glyphicon glyphicon-stop"></span> Clear
        </a>
        <a id="btnClose" class="btn btn-sm btn-danger button-width ShowOnAdd ShowOnView ShowOnEdit">
            <span class="glyphicon glyphicon-remove"></span> Close
        </a>

    </div>

</div>
<div id="DashBoard" style="display:none;" class="col-xs-12 standardborder HideOnView HideOnAdd HideOnEdit HideOnDelete">
    <div class="row">
        @*<div id="grid" class="col-xs-12" style="visibility:hidden;">*@
        <div id="grid" class="col-xs-12">
            <table id="gridList" class="Hide Show table table-nomargin table-condensed fahad" style="cursor: pointer; width:100%!important;">
                <thead class="cAR-tlist-header">
                    <tr>
                        <th>#</th>
                        <th>W</th>
                        <th>Id</th>
                        <th>Hospital Name</th>
                        <th>DateTime</th>
                        <th>Bag Number</th>
                        <th>OperatorName</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="Entry" class="col-xs-12 standardborder ShowOnView ShowOnAdd ShowOnEdit" style="display:none;">


    <div class="panel-body form-horizontal border-below"> 

        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">PIN</label>
                </div>
                <div class="col-xs-9">
                    <input id="txtPIN" placeholder="Type PIN and press Enter" type="text" class="form-control RequiredField">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Patient Name</label>
                </div>
                <div class="col-xs-9">
                    <input id="txtPatientName" name="" type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Age</label>
                </div>
                <div class="col-xs-3">
                    <input id="txtAge" name="" type="text" class="form-control ">
                </div>
                <div class="col-xs-3">
                    <label class="control-label">Gender</label>
                </div>
                <div class="col-xs-3">
                    <input id="txtGender" name="" type="text" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Blood Group I</label>
                </div>
                <div class="col-xs-9">
                    <input id="select2BloodGroup" name="" type="text" class="form-control ">
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Sl. No.</label>
                </div>
                <div class="col-xs-4">
                    <input id="txtSlNo" name="" type="text" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">DateTime</label>
                </div>
                <div class="col-xs-4">
                    <input id="txtDateTime" name="" type="text" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Operator</label>
                </div>
                <div class="col-xs-9">
                    <input id="txtOperator" name="" type="text" class="form-control ">
                </div>
            </div>
        </div>

    </div>
    <div class="panel-body form-horizontal border-below">
        <div class="col-xs-6"> 
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Type of Blood</label>
                </div>
                <div class="col-xs-4">
                    <input id="select2TypeOfBlood" type="text" class="form-control">
                </div>
                <div class="col-xs-5">
                    <input id="select2TypeOfBloodValue" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label">Blood Group II</label>
                </div>
                <div class="col-xs-6">
                    <input id="select2BloodGroupE" type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
    <div class="panel-body form-horizontal border-below"> 
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label">Hospital Name</label>
                </div>
                <div class="col-xs-10">
                    <input id="select2HospitalName"  type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label">Outside BagNo.</label>
                </div>
                <div class="col-xs-4">
                    <input id="txtOutsideBagNo" type="text" class="form-control">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="hideqty">
                        <label  class="control-label">Quantity (ml)</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="hideqty">
                        <input id="select2Quantity" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-2">
                    <label class="control-label">Screening Result</label>
                </div>
                <div class="col-xs-4">
                    <input id="select2ScreeningResult" type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label">Collection Date</label>
                </div>
                <div class="col-xs-4">
                    <div id="dtCollectionDate" class="input-group date RequiredField">
                        <input data-date-format="DD-MMM-YYYY" type="text" class="form-control DisableOnView">
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>                    
                </div>
                <div class="col-xs-2">
                    <label class="control-label">Expiry Date</label>
                </div>
                <div class="col-xs-4">
                    <div id="dtExpiryDate" class="input-group date RequiredField">
                        <input data-date-format="DD-MMM-YYYY" type="text" class="form-control DisableOnView">
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label"></label>
                </div>
                <div class="col-xs-4">
                    @*<input id="select2CollectionDateBelow" type="text" class="form-control">                  *@
                </div>
                <div class="col-xs-2">
                    <label class="control-label"></label>
                </div>
                <div class="col-xs-2">
                    <input id="iChkCompleted" type="checkbox" value="false"/>
                    <label class="control-label">Completed</label>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="border">
                    <table id="gridSubCenterIssue" class="table table-nomargin table-condensed fahad" style="cursor: pointer; width:300px!important;">
                        <thead class="cAR-tlist-header">
                            <tr>
                                <th>/</th>
                                <th>isChk</th>
                                <th>Subcenter Issues</th>
                                <th>id</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal modalSmall" id="modalFilter" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-1" style="width:10px;">                        
                        <span class="glyphicon glyphicon-filter" style="font-size:25px;color:Green;"></span>
                    </div>
                    <div class="col-xs-5">                        
                        <h4 class="modal-title" id="myModalLabel" style="color:Green;">FILTER</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body form-horizontal">

                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-3">
                            <label class="control-label">Rows per page</label>
                        </div>
                        <div class="col-xs-3">
                            <input id="txtRowsPerPage" name="" type="text" class="form-control DisableOnView">
                        </div>   
                        <div class="col-xs-3">
                            <label class="control-label">Get page #</label>
                        </div>
                        <div class="col-xs-3">
                            <input id="txtGetPage" name="" type="text" class="form-control DisableOnView">
                        </div>                                       
                    </div>
                    <div class="row rowMarginTop">
                      
                    </div>     

                </div>

            </div>
            <div class="modal-footer">
                <div class="col-xs-6 pull-right">
                    <a id="btnCloseFilter" class="button-width btn btn-sm btn-danger pull-right pull-right-margin">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </a>
                    <a id="btnViewFilter" class="button-width btn btn-sm btn-success pull-right pull-right-margin ">
                        <span class="glyphicon glyphicon-th-list"></span> Show
                    </a>
                </div>                
            </div>
        </div>
    </div>
</div> 

@section scripts {
    @*<script defer src="@Url.Content("~/Scripts/ajaxWrapper.js")" type="text/javascript"></script>*@
    <script defer src="@Url.Content("~/Scripts/BloodBank/OutsideBloodCollection.js")" type="text/javascript"></script>
}
