@{
    ViewBag.Title = "Corporate Report";
}

@Styles.Render("~/Styles/arcustom")

<div class="row">
    <br />
    <div class="col-sm-12">
 
 

        <a class="mc_rep_continer" href="@Url.Action("LoadTable","Corporate")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
               1. Load Data Reports
            </section>
        </a>
        


        

      

     









    </div>
</div>
