<section class="content">

    <div class="error-page">
        <h2 class="headline text-red">500</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

            <p>
                Your not allowed to <b style="font-size:24px;color:red;">access</b> the page. Please contact IT HelpDesk.
                Meanwhile, you may <a href="@Url.Action("Index", "Home", new { area = "" })">return to homepage</a>  
            </p>
 
        </div>
    </div>
    <!-- /.error-page -->

</section>