@{
    ViewBag.Title = "Help Desk Reports";
}
@Styles.Render("~/Styles/arcustom")

<div class="row">
    <br />
    <div class="col-sm-12">

      

        <a class="mc_rep_continer" href="@Url.Action("MagcardEmployee","HelpDeskReports")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
               1. Missing Duty Roster Report
            </section>
        </a>


      @*  <a class="mc_rep_continer" href="@Url.Action("HRPayrollEmployee","HelpDeskReports")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Payroll
            </section>
        </a>*@



    </div>
</div>
