@{
    ViewBag.Title = "Family Medicine Reports";
}
@Styles.Render("~/Styles/arcustom")

<div class="row">
    <br />
    <div class="col-sm-12">

        <a class="mc_rep_continer" href="@Url.Action("VaccinationEntryForm","FamilyMedicineReport")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
             1. Vaccination Entry Form / Report
            </section>
        </a>




    </div>
</div>
