<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\My Web Sites\HISOT</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SghDataInfoDbContextConnString-Web.config Connection String">
      <ParameterValue>Data Source=130.1.2.24;Initial Catalog=HIS;Persist Security Info=True;User ID=whcit;Password=WHCIT</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SghDbContextConnString-Web.config Connection String">
      <ParameterValue>Data Source=130.1.2.24;Initial Catalog=HIS;Persist Security Info=True;User ID=whcit;Password=WHCIT</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>