@{
    ViewBag.Title = "Index";
}
 

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                     <li class=" active"><a href="#SharjahTariff" data-toggle="tab"><i class="fa fa-fw  fa-gavel"></i>Sharjah Tariff</a></li>

                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
 
                    <div class="tab-pane active" id="SharjahTariff">
                        <div class="row">


                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box  " style="background-color: #68a016 !important;">
                                    <div class="inner">
                                        <h3>&nbsp;</h3>
                                        <p><b>OP TARIFF</b></p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-help-buoy"></i>
                                    </div>
                                    <a href="~/ITADMIN/tariff/OPTariffNew_Op" class="small-box-footer">Check OP <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box  " style="background-color: #177f92 !important;">
                                    <div class="inner">
                                        <h3>&nbsp;</h3>
                                        <p><b>IP TARIFF</b></p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-clipboard"></i>
                                    </div>
                                    <a href="~/ITADMIN/tariff/IPTariffNew_Ip" class="small-box-footer">Check IP <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>


                             <div class="col-lg-3 col-xs-6">
                                <div class="small-box  " style="background-color: #fc3939 !important;">
                                    <div class="inner">
                                        <h3>&nbsp;</h3>
                                        <p><b>All Procedures List</b></p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-ios-keypad"></i>
                                    </div>
                                    <a href="~/ITADMIN/allprocedure" class="small-box-footer">Check Procedures <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>



                        </div>

                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>














 
@section scripts{
  
}