@{
    ViewBag.Title = "Index";
}

<input type="hidden" id="url"
data-getlistitem="@Url.Action("ItemListDashboard")"
data-getlistitemzero="@Url.Action("ItemListZeroPriceDashboard")"
data-save="@Url.Action("Save")"

/>

<div class="panel panel-default">
   <div class="panel-heading">
      <div class="row">
         <div class="col-xs-5">
            <h4><b class="navbar-header">CST Zero Price Item</b></h4>
         </div>
               <div class="form-group">
               @*     <div class="col-xs-2">
                     <button type="button" class="btn btn-sm btn-default button-width" id="btnProcess">
                     <span class="glyphicon glyphicon-th-list"></span> Code Mapping Process
                     </button>
                    </div>*@
              </div>
      </div>
   </div>
       <div class="panel-body">
           <div class="form-horizontal">
         

        <div class="col-xs-6">
            <table id="gridItemList" class="table table-bordered table-hover dataTable no-footer;" >
             <thead class="AR_custom_table_header expanded-group">
                <tr>
                 <tr>
                    <th colspan="5" class="centertext compressedtableheader" style="text-align:center">Selected Item(s)</th>
                   </tr>
                   @* <th><input id="iChkAllTest" type="checkbox" value="false"/></th>*@
                   <th></th>
                   <th></th>
                   <th></th>
                   <th></th>
                  <th></th>
      
                </tr>
             </thead>
          </table>
        </div>
 </div>
      <div class="col-xs-6">
            <table id="gridItemZeroPrice" class="table table-bordered table-hover dataTable no-footer;">
             <thead class="AR_custom_table_header expanded-group">
                <tr>
                   <tr>
                    <th colspan="5" class="centertext compressedtableheader" style="text-align:center">Zero Selected Item(s)</th>
                   </tr>

                   <th></th>
                   <th></th>
                   <th></th>
                   <th></th>
                   <th></th>
      
                </tr>
             </thead>
          </table>
              <div class="pull-right">
                <button id="btnSave" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-floppy-disk ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal">Save</button>
                @* <button id="btnCancelran" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-remove ShowOnEdit HideOnAdd" data-dismiss="modal">Cancel</button>*@
                </div>
        </div>
 
     </div>
      
  </div>
@section scripts{
<script src="~/Scripts/itadmin/CSTZeroItem.js"></script>
}
