@{
    ViewBag.Title = "Unauthorized";
}
<br />
<div class="alert alert-danger" role="alert">
   

    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>

            <div class="error-content">
                <h2><i class="fa fa-warning text-yellow"></i> Unauthorized Access!</h2>

                <p class="custom_font_description">Sorry, you don't have access to this request. For further assistance please call IT - Helpdesk. Thank You </p>


                <form class="search-form">
                    <div class="input-group">
                         
                        <div class="input-group-btn">
                            <a href="/../HISLOGIN" class="btn btn-sm btn-primary">Go to Home Page</a>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>

</div>



