@model HIS_MCRS.Areas.ManagementReports.Models.ParamBoolandDateModel

@using System.Web.UI.WebControls
@using ReportViewerForMvc

<div class="panel panel-default ">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <h4><b class="navbar-header">Currently Admitted Patient List</b></h4>
            </div>
            <div class="navbar-collapse navbar-right col-xs-9">
                @using (Html.BeginForm("Index", "CurrentlyAdmittedPatientList", FormMethod.Post))
                {
                    <div class="col-xs-10">
                    </div>
                    <div class="col-xs-2">
                        <input id="button1" type="submit" value="Preview" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>@*Header Panel*@
    <div class="panel-body">
        @if (ViewBag.ReportViewer != null)
        {
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { SizeToReportContent = true, Width = Unit.Percentage(100), Height = "450px" })
        }
    </div>@*Body*@
</div>@*Panel Head*@

<input type="hidden" id="url" />

@section scripts {
    <script src="~/Scripts/MCRS/patientstatistics/jqGlobal.js"></script>
    <script src="~/Scripts/MCRS/patientstatistics/jqReport.js"></script>
}